<div dojoAttachPoint="monthViewNode" class="monthView noLeaderColumn" style="z-index: 0; visibility: hidden;">

	<!-- header -->
	<div class="dojocalHeaderWrap" dojoAttachPoint="monthHeaderWrapper"><!-- wrapper accounts for scroll bar width -->
		<div class="dojocalHeader" dojoAttachPoint="monthHeader"><!-- header -->
			<table class="dojocalHeaderTableOuter" dojoAttachPoint="monthHeaderTable">
				<tbody>
					<tr>
						<td class="dojocalDateLeader"><span class="dojocalDateCellText"></span></td>
						<td style="height: 100%;">
							<table class="dojocalHeaderTable" dojoAttachPoint="monthHeaderTable" dojoAttachEvent="click:_onHeaderDateClick,dblclick:_onHeaderDateDblClick"><!-- dates across top -->
								<tbody>
									<tr>
										<td class="dojocalDateCell dojocalDateCellFirst" day="0"><span class="dojocalDateCellText"></span></td>
										<td class="dojocalDateCell" day="1"><span class="dojocalDateCellText"></span></td>
										<td class="dojocalDateCell" day="2"><span class="dojocalDateCellText"></span></td>
										<td class="dojocalDateCell" day="3"><span class="dojocalDateCellText"></span></td>
										<td class="dojocalDateCell" day="4"><span class="dojocalDateCellText"></span></td>
										<td class="dojocalDateCell" day="5"><span class="dojocalDateCellText"></span></td>
										<td class="dojocalDateCell dojocalDateCellLast" day="6"><span class="dojocalDateCellText"></span></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="dojocalShadow"></div>
	</div>

	<!-- calendar body -->
	<div class="dojocalContainer" dojoAttachPoint="monthContainerNode"><!-- scrollable container -->
		<div class="dojocalBody" dojoAttachPoint="monthBodyNode"><!-- scrolled container. -->
			<table class="dojocalTableOuter">
				<tbody>
					<tr>
						<td class="dojocalWeekSelectorColumn"><div dojoAttachPoint="weekSelectorLayoutContainer" class="dojocalWeekSelectorLayout"></div></td>
						<td class="dojocalMonthColumn">
							<table class="dojocalTable" dojoAttachPoint="monthTableNode" dojoAttachEvent="click:_onDayLayoutClick"><!-- actual calendar day cells -->
								<tbody>
									<tr dojoAttachPoint="monthRowTemplate" class="dojocalMonthRow">
										<td class="dojocalDayCell dojocalDayCellFirst"><div class="dojocalDayColumnLayout dojocalLayout" day="0"><div class="dojocalDayCellHeader"></div></div></td>
										<td class="dojocalDayCell"><div class="dojocalDayColumnLayout dojocalLayout" day="1"><div class="dojocalDayCellHeader"></div></div></td>
										<td class="dojocalDayCell"><div class="dojocalDayColumnLayout dojocalLayout" day="2"><div class="dojocalDayCellHeader"></div></div></td>
										<td class="dojocalDayCell"><div class="dojocalDayColumnLayout dojocalLayout" day="3"><div class="dojocalDayCellHeader"></div></div></td>
										<td class="dojocalDayCell"><div class="dojocalDayColumnLayout dojocalLayout" day="4"><div class="dojocalDayCellHeader"></div></div></td>
										<td class="dojocalDayCell"><div class="dojocalDayColumnLayout dojocalLayout" day="5"><div class="dojocalDayCellHeader"></div></div></td>
										<td class="dojocalDayCell dojocalDayCellLast"><div class="dojocalDayColumnLayout dojocalLayout" day="6"><div class="dojocalDayCellHeader"></div></div></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
